.projects-info-text h2 {
  margin-top: 4rem;
}
.my-project-info-hr {
  height: 5px !important;
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.my-projects-container {
  color: #a09b9b;
}
.my-projects-container .card-text {
  text-align: justify;
}
.gitub-link {
  text-decoration: none;
  padding: 3px 12px;
  color: #21e3cb;
  display: inline-block;
  width: 100%;
  border: 1px solid #21e3cb;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 8px;
}
.card-link {
  text-decoration: none;
  padding: 3px 12px;
  color: #21e3cb;
  display: inline-block;
  width: 100%;
  border: 1px solid #21e3cb;
  border-radius: 10px;
  text-align: center;
}
.card-link:hover,
.gitub-link:hover {
  background-color: #21e3cb;
  color: white;
}
.loading {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 20px;
  color: white;
}
.projects-info-text p {
  text-align: justify;
}
